*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Tipos de letras con Google Fonts*/

@import 'https://fonts.googleapis.com/css?family=Baloo+Bhai';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';

/* Funciones de letras y Tipos de Colores.

font-family: 'Baloo Bhai';
font-family: 'Roboto Slab', serif;


EMERALD: #2ecc71;
TURQUOISE: #1abc9c;
GREEM SEA: #16a085;




*/

/*Empezando con el Diseño de la pagina(Etiquetas Globales)*/

body{
    background: #eaebf0;
    background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(52, 152, 219,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, #2ecc71 0) 55px 0 #48B;
    background-size:110px 1200px;
    background-repeat:repeat-x;
font-size: 62.5%;
}

nav {
    height: 70px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(255,255,255,1);
    z-index: 100;
    -webkit-box-shadow:0px 0px 20px rgba(44,44,44,.3);
    border-bottom: 6px solid #2ecc71;
}

nav ul {
    height: 40px;
    position: absolute;
    top: 0;
    bottom:0;
    margin: auto 100px;
    padding-left: 350px;
    font-size: 1.7em;
}
nav ul li {
    margin-top: 5px;
    
    display: inline-block;
}


nav ul li a {
    text-decoration: none;
    color: gray;
    font-size: 1.2em;
    padding: 15px;
    padding-bottom: 20px;
    font-family: 'Roboto Slab', serif;
}

nav ul li a:hover {
    color: #1abc9c;
}
nav img{
    margin-left: 100px;
    margin-top: 15px;
}
nav div#logo2 img{
    margin-left: 300px;
}

/*h1::first-letter {
    font-weight: 600;
    color:#1abc9c;
}


Empezando con el Diseño de la pagina(Etiquetas Staticas)*/

.active{
    color: #1abc9c;
}
.left_contac{
    margin-left: 75%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #1abc9c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 155%;
    left: 130%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #16a085 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
 

.content {
    width:45%;
    margin-top: 100px;
    background: rgba(255,255,255,1);
    z-index: 2;
    border-top: 6px solid #1abc9c;
    border-bottom: 6px solid #2ecc71;
    -webkit-box-shadow:0px 0px 20px rgba(44,44,44,.3);

}
.content h1 {
    font-size: 35px;
    font-family: 'Baloo Bhai';
    color: #464646;
    font-weight: 600;
    margin: 30px 60px;
}
.content p {
    font-size:20px;
    color: #2c3e50;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    margin: 30px 60px;
    text-align: justify;
}
.button {
    background:#7f8c8d;
    color:#fff;
    display:inline-block;
    font-size:1.25em;
    margin:20px;
    padding:10px 0;
    text-align:center;
    width:200px;
    text-decoration:none;
    box-shadow:0px 3px 0px #373c3c;
    margin-left: 350px;
}
 
.button span {
    margin-right:10px;
}

.button.yellow {
    background:#e67e22;
    box-shadow:0px 3px 0px #b55704;
}




/*
font-family: 'Baloo Bhai';
font-family: 'Roboto Slab', serif;


EMERALD: #2ecc71;
TURQUOISE: #1abc9c;
GREEM SEA: #16a085;
*/




.clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}


.pricing-wrapper{
    width: 960px;
    margin: 100px auto 20px;
}
.pricing-table{
    float: left;
    width: 300px;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transition: all 0.25s ease;
}

.pricing-title{
    background: #1abc9c;
    padding: 20px 0;
    color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 2em;
}

.pricing-table.recomend .pricing-title, .pricing-table.recomend .primary {
    background: #c0392b;

}
.pricing-table.recomend{
    transform: scale(1.08);

}
.pricing-table.recomend .table-price{
    background: #e74c3c
}

.table-price{
    background: #27ae60;
    padding: 20px 0;
    font-size:  3.4em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    font-weight: 700;
    color: white;

}

.table-price sub{
    font-size: 0.4em;
}

.pricing-list{
    background: white;
    color: #42403f;
}
.pricing-list li{
    padding: 12px 8px;
    font-size: 1.4em;
    font-weight: 700;
    list-style: none;
}
.pricing-list li span{
    font-weight: 700;
    
}
.ulimited{
    background: #27ae60;
    color: white;
    font-size: 0.9em;
    font-weight: 400;
    border-radius: 38px;
    padding: 5px 7px;
}
.pricing-list li:before{
    content: '\f00c';
    display: inline-block;
    color: #3fab91;
    font-size: 16px;
    position: relative;
    right: 6px;
    font-family: 'FontAwesome';
    
}

.pricing-list li:nth-child(2n){
    background: #F0F0F0;
}
.table-buy{
    overflow: hidden;
    background: white;
    padding: 15px;
    text-align: left;
}
.table-buy p{
    float: left;
    color: #2b2727;
    font-size: 2.4em;
    font-weight: 700;
}
.table-buy p sub{
    font-size: 0.5em;
}
.primary{
    background: #27ae60;
    padding: 12px 16px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.4em;
    font-weight: 700;
    display: inline-block;
    float: right;

}

.pricing-table .pricing-primary:hover{
    background: #cf4f3e;
}

/*
    Responsive

*/
@media screen and (min-width: 780px) and (max-width: 959px){
    .pricing-wrapper{
        width: 768px;
    }
    .pricing-table{
        width: 236px;
    }
    .pricing-table li{
        font-size: 1.3em;

    }
}
@media screen and (max-width: 767px){
    .pricing-wrapper{
        width: 420px;
    }
    .pricing-table{
        width: 100%;
        float: none;
        margin-bottom: 20px;
        margin: 0;
    }
    .pricing-table li{
        font-size: 1.3em;
        
    }
}
@media screen and (max-width: 479px){
    .pricing-wrapper{
        width: 300px;
    }
}

























/*Responsive Web Desing*/
@media screen and (max-width: 480px) {
	nav {
    	height: 45%;
    	width: 100%;
    	background: rgba(255,255,255,1);
    	z-index: 100;
    	-webkit-box-shadow:0px 0px 20px rgba(44,44,44,.3);
	    border-bottom: 6px solid #2ecc71;
	}

	nav ul {
		margin-top: -2%;
    
	}
	nav ul li {
		margin-left: -30%;
    	display: block;
    	padding: 20px;
    	border-bottom: 1px solid #2ecc71;
	}

    #logo{
    	visibility: hidden;
    }
    

}
